<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Corentin Faure - CV</title>
    <meta name="description" content="CV en ligne de Corentin FAURE"/>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('css/aos.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('files/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('files/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">

        <meta name="theme-color" content="#ed7d31">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116479738-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-116479738-1');
        </script>

    {% endblock %}
</head>
<body id="top">
{% block header %}
    <header>
        <div class="profile-page sidebar-collapse">
            <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
                <div class="container">
                    <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"></a>
                        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navigation" aria-controls="navigation" aria-expanded="false"
                                aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span
                                    class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            {% for m in menu %}
                                <li class="nav-item"><a class="nav-link smooth-scroll"
                                                        href="{{ m.dest }}">{{ m.item|raw }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}
<div class="page-content">
    <div>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="orange">
                    <div class="page-header-image" data-parallax="true"
                         style="background-image: url('{{ asset('images/bg-head.jpg') }}');"></div>
                    <div class="container">
                        <div class="content-center">
                            <div class="cc-profile-image"><img src="{{ asset('images/corentin1.jpg') }}" alt="Image"/>
                            </div>
                            <div class="h2 title">Corentin FAURE</div>
                            <p class="category text-white">Développeur Web</p><a
                                    class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
                                    data-aos-anchor="data-aos-anchor">Contactez moi !</a><a class="btn btn-primary"
                                                                                            href="{{ asset("files/CV.pdf") }}"
                                                                                            download="CV.pdf"
                                                                                            data-aos="zoom-in"
                                                                                            data-aos-anchor="data-aos-anchor">CV
                                format PDF</a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div id="reseaux" class="button-container"><a
                                        class="btn btn-default btn-round btn-lg btn-icon"
                                        href="https://www.linkedin.com/in/corentin-faure-a1100aa3/"
                                        rel="noopener" title="Mon LinkedIn" target="_blank"><i
                                            class="fa fa-linkedin"></i></a><a
                                        class="btn btn-default btn-round btn-lg btn-icon"
                                        href="skype:live:corentin.faure_4?chat" rel="noopener" title="Mon Skype"><i
                                            class="fa fa-skype"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="about">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">A propos</div>
                                <p>Bonjour ! Je suis Corentin FAURE, développeur web.</p>
                                <p>J'ai commencé la programmation en 2011 en autodidacte via le Site du Zér0 (maintenant
                                    OpenClassrooms), en apprenant le HTML, CSS et PHP. J'ai ensuite appris en école
                                    supérieure toute la logique algorithmique avec le C++ (Orienté Objet) et la
                                    programmation embarquée. Par passion du domaine du web, j'ai poursuivi mes études à
                                    Sciences-U Lyon dans le développement web.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Informations</div>
                                <div class="row">
                                    <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                                    <div class="col-sm-8">{{ age }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                                    <div class="col-sm-8">corentin.faure@outlook.com</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Téléphone:</strong></div>
                                    <div class="col-sm-8">+33 (0) 7 70 95 23 83</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Adresse:</strong></div>
                                    <div class="col-sm-8">38 rue du Docteur Fleury Papillon, 69100 Villeurbanne</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">Langues:</strong></div>
                                    <div class="col-sm-8">Français, Anglais (courant), Espagnol (notions)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="skill">
            <div class="container">
                <div class="h4 text-center mb-4 title">Compétences</div>
                <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <div class="card-body">
                        <div class="row">
                            {% for skill in skills %}
                            {% set row=0 %}
                            <div class="col-md-6">
                                <div class="progress-container progress-primary"><span
                                            class="progress-badge">{{ skill.skill }}</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                             data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: {{ skill.percent }}%;"></div>
                                        <span class="progress-value">{{ skill.percent }}%</span>
                                    </div>
                                </div>
                            </div>
                            {% set row=row+1 %}
                            {% if row==rows %}
                        </div>
                        <div class="row">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="section" id="projets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto">
                                <div class="h4 text-center mb-4 title">Projets réalisés</div>
                            </div>
                        </div>
                        <div class="tab-content gallery mt-5">

                            <div class="ml-auto mr-auto">
                                <div class="row">
                                    <div class="row">
                                        {% set row=0 %}
                                        {% for pr in projets %}
                                        <div class="col-md-6">

                                            <div class="cc-porfolio-image img-raised" data-aos="fade-up"
                                                 data-aos-anchor-placement="top-bottom"><a href="#" data-toggle="modal"
                                                                                           data-target="#{{ pr.tag }}">
                                                    <figure class="cc-effect"><img src="{{ asset(pr.image) }}"
                                                                                   alt="Image"/>
                                                        <figcaption>
                                                            <div class="h4">{{ pr.nom }}</div>
                                                            <p>{{ pr.type }}</p>
                                                        </figcaption>
                                                    </figure>
                                                </a></div>

                                            <!-- Modal -->
                                            <div class="modal fade" id="{{ pr.tag }}" tabindex="-1" role="dialog"
                                                 aria-labelledby="Modal Projets" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="exampleModalLabel">{{ pr.nom }}</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{ pr.detail|raw }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Fermer
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set row=row+1 %}
                                        {% if row==rows %}

                                    </div>
                                    {% set row=0 %}
                                    {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="experience">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Expériences professionnelles</div>
                    {% for e in experience %}
                        <div class="card">
                            <div class="row">
                                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                                     data-aos-duration="500">
                                    <div class="card-body cc-experience-header">

                                        <p>{{ e.debut }} {% if e.fin != null and e.fin != defaut and e.fin != e.debut %}- {{ e.fin }}{% endif %} {% if e.fin == defaut %}- Présent {% endif %} </p>
                                        <div class="h5">{{ e.entreprise }}</div>
                                    </div>
                                </div>
                                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                    <div class="card-body">
                                        <div class="h5">{{ e.poste }}</div>
                                        <p>{{ e.descri|raw }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="section" id="formation">
                <div class="container cc-education">
                    <div class="h4 text-center mb-4 title">Formation</div>
                    {% for fo in formation %}
                        <div class="card">
                            <div class="row">
                                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                                     data-aos-duration="500">
                                    <div class="card-body cc-education-header">
                                        <p>{{ fo.debut }} - {{ fo.fin }}</p>
                                        <div class="h5">{{ fo.type }}</div>
                                    </div>
                                </div>
                                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                    <div class="card-body">
                                        <div class="h5">{{ fo.diplome }}</div>
                                        <p class="category">{{ fo.ecole }}</p>
                                        <p>{{ fo.descri|raw }}</p>
                                        {% if fo.infosupp != null %}<a class="btn btn-primary voir-pdf"
                                                                       href="{{ asset(fo.infosupp) }}">Cliquez ici pour
                                            voir le descriptif officiel de la formation</a>{% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="section" id="asso">
                <div class="container cc-experience">
                    <div class="h4 text-center mb-4 title">Expérience associative</div>
                    {% for e in associatif %}
                        <div class="card">
                            <div class="row">
                                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                                     data-aos-duration="500">
                                    <div class="card-body cc-experience-header">

                                        <p>{{ e.debut }} {% if e.fin != null and e.fin != defaut and e.fin != e.debut %}- {{ e.fin }}{% endif %} {% if e.fin == defaut %}- Présent{% endif %}</p>
                                        <div class="h5">{{ e.asso }}</div>
                                    </div>
                                </div>
                                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                    <div class="card-body">
                                        <div class="h5">{{ e.poste }}</div>
                                        <p>{{ e.descri|raw }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="section" id="contact">
                <div class="cc-contact-information">
                    <div class="container">
                        <div class="cc-contact">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="card mb-0" data-aos="zoom-in">
                                        <div class="h4 text-center title">Contactez-moi !</div>
                                        <div class="row">

                                            <div class="col-md-6" id="formucontact">
                                                <div class="card-body">

                                                    {% for label, messages in app.flashes %}
                                                        {% for message in messages %}
                                                            <div class="flash-{{ label }}">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endfor %}
                                                    {% if false %}
                                                    {{ form_start(form) }}
                                                    <div class="p pb-3"><strong>N'hésitez pas à me contacter</strong>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <div class="input-group"><span
                                                                        class="input-group-addon fa fa-user-circle"></span>
                                                                {{ form_widget(form.nom) }}
                                                                {{ form_errors(form.nom) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <div class="input-group"><span
                                                                        class="input-group-addon fa fa-envelope"></span>
                                                                {{ form_widget(form.email) }}
                                                                {{ form_errors(form.email) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <div class="input-group"><span
                                                                        class="input-group-addon fa fa-file-text"></span>
                                                                {{ form_widget(form.sujet) }}
                                                                {{ form_errors(form.sujet) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                {{ form_widget(form.message) }}
                                                                {{ form_errors(form.message) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_widget(form.Save) }}

                                                        </div>
                                                    </div>

                                                    {{ form_end(form) }}
                                                    {% endif %}
                                                    <div class="p pb-3">Le formulaire est en cours de maintenance.</div>
                                                </div>


                                            </div>

                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <p class="mb-0"><strong>Adresse </strong></p>
                                                    <p class="pb-2">38 rue du Docteur Fleury Papillon, 69100
                                                        Villeurbanne</p>
                                                    <p class="mb-0"><strong>Téléphone</strong></p>
                                                    <p class="pb-2">+33 (0) 7 70 95 23 83</p>
                                                    <p class="mb-0"><strong>Email</strong></p>
                                                    <p>corentin.faure@outlook.com</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='scrolltop'>
        <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
    </div>
    {% block footer %}
        <footer class="footer">
            <div class="h4 title text-center">Corentin FAURE</div>
            <div class="text-center text-muted">
                <p>Site web réalisé avec Symfony 4<br>Design - <a class="credit" href="https://templateflip.com"
                                                                  target="_blank" rel="noopener">TemplateFlip</a></p>
            </div>
        </footer>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/core/jquery.3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/core/popper.min.js') }}"></script>
        <script src="{{ asset('js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/now-ui-kit.js?v=1.1.0') }}"></script>
        <script src="{{ asset('js/aos.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>

    {% endblock %}
</div>

</body>
</html>

