<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Corentin Faure - CV</title>
    <meta name="description" content="CV en ligne de Corentin FAURE"/>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('css/aos.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('files/manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('files/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">

        <meta name="theme-color" content="#ed7d31">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% endblock %}
</head>

<div class="col-md-3 alert-{% if actif == true %}success{% else %}danger{% endif %}">Le bot est
    <strong>{% if actif == true %}ACTIF{% else %}INACTIF{% endif %}</strong></div>
<div class="col-md-3">
    {{ form_start(formA) }}
    {{ form_widget(formA) }}
    {{ form_end(formA) }}
</div>
<div class="col-md-3">
    {{ form_start(formD) }}
    {{ form_widget(formD) }}
    {{ form_end(formD) }}
</div>

