<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Stream Kedrihan"/>
    <title>Kedrihan</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('css/aos.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">

        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon16.png') }}">
        <link rel="manifest" href="{{ asset('files/manifest.json') }}">

        <meta name="theme-color" content="#ed7d31">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116479738-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-116479738-1');
        </script>
    {% endblock %}
</head>
<body id="top">
<header>
    <div class="profile-page sidebar-collapse">

    </div>
</header>
<div class="page-content">
    <div>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="orange">
                    <div class="page-header-image" data-parallax="true"
                         style="background-image: url('{{ asset('images/illu.png') }}');"></div>
                    <div class="container">
                        <div class="content-center">
                            <div class="cc-profile-image"><img src="{{ asset('images/kedrihan.png') }}" width="320px"
                                                               height="320px" alt="Image"/>
                            </div>
                            <div class="h2 title">Kedrihan</div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div id="reseaux" class="button-container"><a
                                        class="btn btn-default btn-round btn-lg btn-icon"
                                        href="https://www.twitter.com/kedrihan"
                                        rel="noopener" title="Twitter" target="_blank"><i
                                            class="fa fa-twitter"></i></a><a
                                        class="btn btn-default btn-round btn-lg btn-icon"
                                        href="https://www.twitch.tv/kedrihan_" rel="noopener" title="Twitch"><i
                                            class="fa fa-twitch"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="about">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Le stream</div>
                                <div class="iframe-container">
                                    <iframe
                                            src="https://player.twitch.tv/?channel=kedrihan_"


                                            scrolling="no">
                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">Le chat</div>
                                <div class="iframe-container chat">
                                    <iframe
                                            scrolling="no"
                                            id="kedrihan_"
                                            src="https://www.twitch.tv/embed/kedrihan_/chat"
                                    >
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block footer %}
        <footer class="footer">
            <div class="h4 title text-center"></div>
            <div class="text-center text-muted">
                <p>Site web réalisé avec Symfony 4<br>Design - <a class="credit" href="https://templateflip.com"
                                                                  target="_blank" rel="noopener">TemplateFlip</a>
                </p>
            </div>
        </footer>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/core/jquery.3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/core/popper.min.js') }}"></script>
        <script src="{{ asset('js/core/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/now-ui-kit.js?v=1.1.0') }}"></script>
        <script src="{{ asset('js/aos.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</div>
</div>
</body>
</html>