<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <meta name="description" content="Creative CV is a HTML resume template for professionals. Built with Bootstrap 4, Now UI Kit and FontAwesome, this modern and responsive design template is perfect to showcase your portfolio, skils and experience."/>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('css/aos.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body id="top">
{% block header %}
    <header>
        <div class="profile-page sidebar-collapse">
            <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
                <div class="container">
                    <div class="navbar-translate"><a class="navbar-brand" href="/corentin-faure" rel="tooltip">Corentin Faure</a>
                        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}
<div class="page-content">
    <div>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="red">
                    <div class="page-header-image" data-parallax="true" style="background-image: url('{{ asset('images/bg-head.jpg')}}');"></div>
                    <div class="container">
                        <div class="content-center">
                            <div class="h2 title">Maintenance en cours</div>
                            <p class="category text-white">Ce site ouvrira ses portes prochainement</p>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/corentin-faure-a1100aa3/" rel="tooltip" title="Mon LinkedIn"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="skype:corentin.faure@outlook.com?chat" rel="tooltip" title="Mon Skype"><i class="fa fa-skype"></i></a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
        {% block footer %}
            <footer class="footer">
                <div class="h4 title text-center"></div>
                <div class="text-center text-muted">

                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/core/jquery.3.2.1.min.js')}}"></script>
            <script src="{{ asset('js/core/popper.min.js')}}"></script>
            <script src="{{ asset('js/core/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/now-ui-kit.js?v=1.1.0')}}"></script>
            <script src="{{ asset('js/aos.js')}}"></script>
            <script src="{{ asset('js/main.js')}}"></script>
        {% endblock %}
</body>
</html>
