<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Corentin Faure - CV</title>
    <meta name="description" content="lol"/>
    {% block stylesheets %}

    {% endblock %}
</head>

<body>
    {{ lol }}
</body>

